@let $Red = "hsl(0, 66%, 54%)"; @let $Grey500= "hsl(186, 15%, 59%)";

<dialog class="dialog" #succesDialog>
  <div class="header-container">
    <img
      class="img"
      src="./assets/images/icon-success-check.svg"
      alt="Succes check icon"
    />
    <h2 class="title">Message Sent!</h2>
  </div>
  <p class="text">Thanks for completing the form. We'll be in touch soon!</p>
</dialog>

<form class="container" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h1 class="title">Contact Us</h1>

  <!-- First name -->
  <label class="label" for="first-name">First Name <span>*</span></label>
  <input
    class="input"
    type="text"
    id="first-name"
    formControlName="firstName"
    [style.borderColor]="
      formGroup.controls.firstName.invalid &&
      formGroup.controls.firstName.touched
        ? $Red
        : $Grey500
    "
    aria-required="true"
  />
  @if (formGroup.controls.firstName.invalid &&
  formGroup.controls.firstName.touched) {
  <p class="error-message" aria-live="polite">This field is required</p>
  }
  <!-- First name -->

  <!-- Last name -->
  <label class="label" for="last-name">Last Name <span>*</span></label>
  <input
    class="input"
    type="text"
    id="last-name"
    formControlName="lastName"
    [style.borderColor]="
      formGroup.controls.lastName.invalid && formGroup.controls.lastName.touched
        ? $Red
        : $Grey500
    "
    aria-required="true"
  />
  @if (formGroup.controls.lastName.invalid &&
  formGroup.controls.lastName.touched) {
  <p class="error-message" aria-live="polite">This field is required</p>
  }
  <!-- Last name -->

  <!-- Email -->
  <label class="label" for="email">Email Address <span>*</span></label>
  <input
    class="input"
    type="email"
    id="email"
    formControlName="email"
    [style.borderColor]="
      formGroup.controls.email.invalid && formGroup.controls.email.touched
        ? $Red
        : $Grey500
    "
    aria-required="true"
  />
  @if (formGroup.controls.email.invalid && formGroup.controls.email.touched) {
  @if (formGroup.controls.email.errors?.["email"]) {
  <p class="error-message" aria-live="polite">
    Please enter a valid email address
  </p>
  } @else {
  <p class="error-message" aria-live="polite">This field is required</p>
  } }
  <!-- Email -->

  <!-- Radio buttons -->
  <fieldset class="radio-group-container">
    <legend class="legend">Query Type <span>*</span></legend>

    <label
      class="radio-container"
      [class.selected]="
        formGroup.controls.queryType.value === 'general-enquiry'
      "
    >
      <div
        class="custom-radio"
        [class.selected]="
          formGroup.controls.queryType.value === 'general-enquiry'
        "
      >
        <input
          type="radio"
          name="queryType"
          id="general-enquiry"
          value="general-enquiry"
          formControlName="queryType"
          aria-required="true"
          (focus)="onRadioFocus()"
        />
        <span class="checkmark"></span>
      </div>
      General Enquiry
    </label>

    <label
      class="radio-container"
      [class.selected]="
        formGroup.controls.queryType.value === 'support-request'
      "
    >
      <div
        class="custom-radio"
        [class.selected]="
          formGroup.controls.queryType.value === 'support-request'
        "
      >
        <input
          type="radio"
          name="queryType"
          id="support-request"
          formControlName="queryType"
          value="support-request"
          aria-required="true"
        />
        <span class="checkmark"></span>
      </div>
      Support Request
    </label>

    @if (formGroup.controls.queryType.invalid &&
    formGroup.controls.queryType.touched) {
    <p class="error-message" aria-live="polite">Please select a query type</p>
    }
  </fieldset>
  <!-- Radio buttons -->

  <!-- Message -->
  <label class="label" for="message">Message <span>*</span></label>
  <textarea
    class="text-area"
    type="textArea"
    id="message"
    formControlName="message"
    [style.borderColor]="
      formGroup.controls.message.invalid && formGroup.controls.message.touched
        ? $Red
        : $Grey500
    "
    aria-required="true"
  ></textarea>
  @if (formGroup.controls.message.invalid && formGroup.controls.message.touched)
  {
  <p class="error-message" aria-live="polite">This field is required</p>
  }
  <!-- Message -->

  <!-- Checkbox -->
  <label class="checkbox-container">
    <div class="custom-checkbox">
      <input
        type="checkbox"
        id="consent"
        formControlName="consent"
        value="consent"
        aria-describedby="consent-error"
        aria-required="true"
      />
      <span class="checkmark"></span>
    </div>
    I consent to being contacted by the team
    <span style="display: contents">*</span>
  </label>
  @if (formGroup.controls.consent.invalid && formGroup.controls.consent.touched)
  {
  <p id="consent-error" class="error-message" aria-live="polite">
    To submit this form, please consent to being contacted
  </p>
  }
  <!-- Checkbox -->

  <button class="submit-btn" type="submit">Submit</button>
</form>
